node_modules/
dist/
.env
.env.local
.env.*.local
android/.gradle/
android/local.properties
android/build/
android/app/build/
android/.idea/
android/app/.cxx/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json